[submodule "thirdparty/EMV-tag-parser"]
	path = thirdparty/EMV-tag-parser
	url = git@github.com:victordmontero/EMV-tag-parser.git
[submodule "thirdparty/wxWidgets"]
	path = thirdparty/wxWidgets
	url = git@github.com:wxWidgets/wxWidgets.git
